<ion-header>
  <ion-toolbar>
    <ion-title>{{ peripheral.name || 'Device' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">

  <ion-card>
    <ion-card-header>
      {{ peripheral.name || 'Unnamed' }}
    </ion-card-header>
    <ion-card-content>
      {{ peripheral.id }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="2" size-sm>
          <ion-toggle color="primary"></ion-toggle>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Set Alarm</ion-label>
            <ion-datetime displayFormat="HH:mm::ss" hour-cycle="h23" [(ngModel)]="dateTimeFromPicker"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Services
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let service of peripheral.services">
        {{service}}
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Details
    </ion-card-header>
    <ion-card-content>
      <pre>{{peripheral | json }}</pre>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" [disabled]="!isConnected" (click)="updateAlarmOverBLE()">Update Alarm</ion-button>
  </ion-toolbar>
</ion-footer>