<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>

  <ion-card>
    <img src="assets\frost-patterns-1.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>Good Morning</ion-card-subtitle>
      <ion-card-title>User</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The weather is frosty today. Make sure to set your alarm through the bluetooth section of this app.
    </ion-card-content>
  </ion-card>
  
  

</ion-content>
